<div class="section detail">
  <% if waza.stance %>
    <div class="row margin_bottom pad_top">
      <div class="col-md-12">
        <label><%= waza.stance %>:</label><br/>
        <%= waza.stance.description %>
      </div>
    </div>
  <% end %>

  <% if waza.attack %>
    <div class="row margin_bottom pad_top">
      <div class="col-md-12">
        <label><%= waza.attack %>:</label><br/>
        <%= waza.attack.description %>
      </div>
    </div>
  <% end %>

  <% if waza.attack_height %>
    <div class="row margin_bottom pad_top">
      <div class="col-md-12">
        <label><%= waza.attack_height %>:</label><br/>
        <%= waza.attack_height.description %>
      </div>
    </div>
  <% end %>

  <% if waza.hand_applied_to %>
    <div class="row margin_bottom pad_top">
      <div class="col-md-12">
        <label><%= waza.hand_applied_to %>:</label><br/>
        <%= waza.hand_applied_to.description %>
      </div>
    </div>
  <% end %>

  <% if waza.maka_komi %>
    <div class="row margin_bottom pad_top">
      <div class="col-md-12">
        <label><%= waza.maka_komi %>:</label><br/>
        <%= waza.maka_komi.description %>
      </div>
    </div>
  <% end %>

  <% if waza.technique %>
    <div class="row margin_bottom pad_top">
      <div class="col-md-12">
        <label><%= waza.technique %>:</label><br/>
        <%= waza.technique.description %>
      </div>
    </div>
  <% end %>

  <% if waza.direction %>
    <div class="row margin_bottom pad_top">
      <div class="col-md-12">
        <label><%= waza.direction %>:</label><br/>
        <%= waza.direction.description %>
      </div>
    </div>
  <% end %>

  <% if waza.kaiten %>
    <div class="row margin_bottom pad_top">
      <div class="col-md-12">
        <label><%= waza.kaiten %>:</label><br/>
        <%= waza.kaiten.description %>
      </div>
    </div>
  <% end %>

  <% if waza.sword %>
    <div class="row margin_bottom pad_top">
      <div class="col-md-12">
        <label><%= waza.sword %>:</label><br/>
        <%= waza.sword.description %>
      </div>
    </div>
  <% end %>

  <% if waza.level %>
    <div class="row margin_bottom pad_top">
      <div class="col-md-12">
        <label><%= waza.level %>:</label><br/>
        <%= waza.level.description %>
      </div>
    </div>
  <% end %>


</div>
