<%= form_tag master_grid_wazas_path, method: :get do %>
  <div class="row">
    <div class="col-md-6">
      <%= render 'filter_form' %>
    </div>
    <div class="col-md-6">
      <%= render 'search_form' %>
    </div>
  </div>
<% end %>

<% formats = AikiFormat.all %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered">
      <thead class="rank_row">
        <th><strong>Waza \ Format</strong></th>
        <th>Admin</th>
        <% formats.each do |format| %>
          <th><%= format %></th>
        <% end %>
      </thead>
      <tbody>
        <%
        master_hash.each do |waza, format_hash|
        %>
          <tr>
          <td>
            <strong><%= link_to format_hash[:name], 
                                waza_display_path(waza, 
                                  stance: @stance,
                                  attack: @attack,
                                  technique: @technique,
                                  format: @format,
                                  rank: @rank,
                                  search: @search) %></strong>
            <% if format_hash[:sub_name].present? %>
              <br/><span class="small"><%= format_hash[:sub_name] %></span>
            <% end %>
          </td>
          <td><%= link_to 'Admin', waza_path(waza) %></td>
          <%
          formats.each do |format|
            videos = format_hash[:videos][format.to_s]
            if videos && videos.any?
              videos = videos.sort{|x,y| x.rank.id <=> y.rank.id}

              video_rank_hash = Hash.new
              videos.each do |vid|
                video_rank_hash[vid.rank.to_s] ||= {}
                video_rank_hash[vid.rank.to_s][:count] = 0 unless video_rank_hash[vid.rank.to_s][:count]
                video_rank_hash[vid.rank.to_s][:count] += 1
                video_rank_hash[vid.rank.to_s][:vid_id] = vid.id unless video_rank_hash[vid.rank.to_s][:vid_id]
              end

          %>
                <td>

                  <%
                    video_rank_hash.each do |rank, count|
                  %>

                      <%= link_to "#{rank} - #{count[:count]}", 
                                waza_display_path(waza,
                                  video_id: count[:vid_id],
                                  stance: @stance,
                                  attack: @attack,
                                  technique: @technique,
                                  format: @format,
                                  rank: @rank,
                                  search: @search) %></br>                 

                  <% end %>

                </td>
            <% else %>
                <td>0</td>
          <%
            end
          end
          %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
