<%= form_tag master_grid_wazas_path, method: :get do %>
  <div class="row">
    <div class="col-md-4">
      <%= render 'filter_form' %>
    </div>
    <div class="col-md-4">
      <%= render 'search_form' %>
    </div>
  </div>
<% end %>

<% formats = AikiFormat.all %>

<div class="row pad_left_right">
  <div class="col-md-12">
    <table class="table table-striped table-bordered">
      <thead class="rank_row">
        <th><strong>Waza \ Format</strong></th>
        <th>Admin</th>
        <% formats.each do |format| %>
          <th><%= format %></th>
        <% end %>
      </thead>
      <tbody>
        <%
        master_hash.each do |waza, format_hash|
        %>
          <tr>
          <td class="smaller_text">
            <strong><%= link_to format_hash[:name],
                                waza_display_path(waza,
                                  stance: @stance,
                                  attack: @attack,
                                  technique: @technique,
                                  format: @format,
                                  rank: @rank,
                                  search: @search) %></strong>
            <% if format_hash[:sub_name].present? %>
              <br/><span class="small"><%= format_hash[:sub_name] %></span>
            <% end %>
          </td>
          <td class="smaller_text"><%= link_to 'Admin', waza_path(waza) %></td>
          <%
            formats.each do |format|
              videos = format_hash[:videos][format.to_s]
              if videos && videos.any?
                videos = videos.sort{|x,y| x.rank.id <=> y.rank.id}
          %>
                <td class="smaller_text">
                <ul>
                  <%
                    videos.each do |video|
                  %>
                    <li>
                      <%= link_to "#{video} (#{video.rank})",
                                waza_display_path(waza,
                                  video_id: video,
                                  stance: @stance,
                                  attack: @attack,
                                  technique: @technique,
                                  format: @format,
                                  rank: @rank,
                                  search: @search) %></br>
                    </li>
                  <% end %>
                </ul>
                </td>
            <% else %>
                <td class="smaller_text"></td>
          <%
            end
          end
          %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
