<%
  videos = waza.videos.where(aiki_format: video.aiki_format)
  ranks = videos.map(&:rank).sort_by(&:id).uniq

  iaido = video.iaido?

  ranks.each do |rank|
%>
  <div class="row pad_sides">
    <div class="col-md-12">
      <table class="table table-striped table-bordered">
        <thead class="rank_row">
          <th colspan="<%= iaido ? 7 : 6 %>"><%= rank %> - <%= rank.description %></th>
        </thead>
        <thead>
          <th></th>
          <th>Video</th>
          <% if iaido %>
            <th>Kata</th>
          <% end %>
          <th>Format(s)</th>
          <th>On Test</th>
          <th>Sensei</th>
          <th>Style</th>
        </thead>
        <tbody>

          <% videos.where(rank: rank).order(primary: :desc).order(on_test: :desc).each do |vid| %>
            <tr>
              <td>
                <% if vid.id == video.id %>
                  <strong>&check;</strong>
                <% end %>
              </td>
              <td>
                <%= link_to "#{vid}", waza_remote_display_path(waza_id: vid.waza, video_id: vid.id), remote: true %>
              </td>
              <% if iaido %>
                <td>
                  <%= vid.kata if vid.kata %>
                </td>
              <% end %>
              <td>
                <%= vid.format %>
              </td>
              <td>
                <%= vid.on_test? ? 'Yes' : 'No' %>
              </td>
              <td>
                <%= vid.sensei rescue '' %>
              </td>
              <td>
                <%= vid.style rescue '' %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div> <!-- table div -->

<% end %> <!-- ranks -->
