<div class="tab-content">
  <div class="tab-pane active" id="tab<%= video.aiki_format.id %>">
    <br/>
    <div class="row pad_sides">
      <div class="col-md-12"><label><%= video.format %>:&nbsp;</label></div>
    </div>
    <br/>

    <%= render 'video_rank_rows', waza: waza, video: video, vid_format: vid_format %>

    <div class="row">
      <div class="col-md-8">
        <%= render 'video', video: video %>
      </div>
    </div>
  <% if can?(:update, :video) %>
    <div class="row pad_sides">
      <div class="col-md-12">
        <%= render 'videos/form', display: 'waza_display' %>
      </div>
    </div>
  <% end %>

  </div>
</div>



