<%= form_for(@waza) do |waza_form| %>
  <%= render 'form', waza: @waza, waza_form: waza_form %>
  <div class="actions">
    <%= waza_form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @waza %> |
<%= link_to 'Back', wazas_path %>
