<%= form_for(@sword) do |f| %>
  <% if @sword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sword.errors.count, "error") %> prohibited this sword from being saved:</h2>

      <ul>
      <% @sword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
