<h1>Listing attacks</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attacks.each do |attack| %>
      <tr>
        <td><%= attack.name %></td>
        <td><%= attack.description %></td>
        <td><%= link_to 'Show', attack %></td>
        <td><%= link_to 'Edit', edit_attack_path(attack) %></td>
        <td><%= link_to 'Destroy', attack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attack', new_attack_path %>
