<%= form_for(@hand_applied_to) do |f| %>
  <% if @hand_applied_to.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hand_applied_to.errors.count, "error") %> prohibited this hand_applied_to from being saved:</h2>

      <ul>
      <% @hand_applied_to.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row pad_top_bottom">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
    </div>
  </div>

  <div class="row pad_top_bottom">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div>
    </div>
  </div>

  <div class="row pad_top_bottom">
    <div class="col-md-6">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
