<%= form_for(@video) do |vid_form| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% display ||= 'video_display' %>
  <%= hidden_field_tag 'display', display %>

  <div class="row pad_top_bottom">
    <div class="col-md-2">
      <h2>Video</h2>
    </div>
    <div class="col-md-3"  style="padding-top: 25px;">
      <div class="field input_inline">
        <%= vid_form.label :needs_review %>
        <%= vid_form.check_box :needs_review %>
      </div>
    </div>
  </div>

  <div class="row pad_top_bottom">
    <div class="col-md-3">
      <div class="field">
        <%= vid_form.label :name %><br>
        <%= vid_form.text_field :name %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= vid_form.label :youtube_id %><br>
        <%= vid_form.text_field :youtube_id %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field input_inline">
        <%= vid_form.label :on_test %><br>
        <%= vid_form.check_box :on_test %>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>

  <div class="row pad_top_bottom">
    <div class="col-md-2">
      <div class="field">
        <%= vid_form.label :aiki_format_id, "Format" %><br>
        <%= vid_form.select :aiki_format_id, options_for_select(AikiFormat.all.collect { |k| [ k.name, k.id ] }, @video.aiki_format_id), { include_blank: true } %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="field">
        <%= vid_form.label :kata_id, "Kata" %><br>
        <%= vid_form.select :kata_id, options_for_select(Kata.all.collect { |k| [ k.name, k.id ] }, @video.kata_id), { include_blank: true } %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="field">
        <%= vid_form.label :style_id %><br>
        <%= vid_form.select :style_id, options_for_select(Style.all.collect { |k| [ k.name, k.id ] }, @video.style_id), { include_blank: true } %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="field">
        <%= vid_form.label :sensei_id %><br>
        <%= vid_form.select :sensei_id, options_for_select(Sensei.all.collect { |k| [ k.name, k.id ] }, @video.sensei_id), { include_blank: true } %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="field">
        <%= vid_form.label :rank_id %><br>
        <%= vid_form.select :rank_id, options_for_select(Rank.all.collect { |k| [ k.name, k.id ] }, @video.rank_id), { include_blank: true } %>
      </div>
    </div>
  </div>

  <%
    if @include_waza_form && can?(:update, :waza)
      waza = @video.waza ||= @video.build_waza
  %>
    <%= render 'videos/video_waza', waza: waza %>
  <% end %>

  <div class="actions">
    <%= vid_form.submit %>
  </div>
<% end %>
