
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th colspan="2">Name</th>
      <th>Waza</th>
      <th>Aiki format</th>
      <th>Rank</th>
      <th>On test</th>
      <th>Youtube</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% videos.each do |video| %>
      <tr>
        <td><%= video.id %></td>
        <td><%= link_to video.name, video %></td>
        <td><%= link_to image_tag("http://img.youtube.com/vi/#{video.youtube_id}/default.jpg", size: "120x90"),
                waza_display_path(waza_id: video.waza.id, video_id: video.id) %></td>
        <td><%= link_to video.waza, waza_path(video.waza) %></td>
        <%
          format = video.aiki_format.to_s
          if format == 'Aiki Toho'
            format += " (#{video.kata})"
          end
        %>
        <td><%= format %></td>
        <td><%= video.rank %></td>
        <td><%= video.on_test %></td>
        <td><%= link_to video.youtube_id, "https://www.youtube.com/watch?v=#{video.youtube_id}" %></td>
        <td><%= link_to 'Watch', waza_display_path(video.waza, video_id: video) %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
