<h1>Videos</h1>
<%= link_to 'New Video', new_video_path %>
<br/>
<br/>
<%= will_paginate @videos %>
  <%= render 'list', videos: @videos %>
<%= will_paginate @videos %>
<br/>
<%= link_to 'New Video', new_video_path %>
