<% @search ||= nil %>
<h1>Unassigned Videos<%= @search.present? ? '' : " (#{Video.needs_review.count})" %></h1>

<%= form_tag needs_review_videos_path, method: :get do %>
  <div class="row">
    <div class="col-md-4">
      <%= render 'wazas/search_form' %>
    </div>
  </div>
<% end %>

<% unless @search %>
  <%= will_paginate @videos %>
<% end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th colspan="2">Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.id %></td>
        <td><%= video.name %></td>
        <td><%= image_tag("http://img.youtube.com/vi/#{video.youtube_id}/default.jpg",
                          class: "header_image",
                          size: "120x90",
                          style: "margin-top: -20px; margin-bottom: 20px") %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless @search %>
  <%= will_paginate @videos %>
<% end %>
