<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Waza:</strong>
  <%= @video.waza %>
</p>

<p>
  <strong>Aiki format:</strong>
  <%= @video.aiki_format %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @video.rank %>
</p>

<p>
  <strong>On test:</strong>
  <%= @video.on_test %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @video.youtube_id %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
