<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name rescue 'n/a' %>
</p>

<p>
  <strong>Waza:</strong>
  <%= @video.waza rescue 'n/a' %>
</p>

<p>
  <strong>Aiki format:</strong>
  <%= @video.aiki_format rescue 'n/a' %>
</p>

<% if @video.aiki_format.to_s == 'Aiki Toho' %>
  <p>
    <strong>Kata:</strong>
    <%= @video.kata rescue 'n/a' %>
  </p>
<% end %>

<p>
  <strong>Sensei:</strong>
  <%= @video.sensei rescue 'n/a' %>
</p>

<p>
  <strong>Style:</strong>
  <%= @video.style rescue 'n/a' %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @video.rank rescue 'n/a' %>
</p>

<p>
  <strong>On test:</strong>
  <%= @video.on_test rescue 'n/a' %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @video.youtube_id rescue 'n/a' %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
