<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @aiki_format.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @aiki_format.description %>
</p>

<%= link_to 'Edit', edit_aiki_format_path(@aiki_format) %> |
<%= link_to 'Back', aiki_formats_path %>
