<h1>Listing katas</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @katas.each do |kata| %>
      <tr>
        <td><%= kata.id %></td>
        <td><%= kata.name %></td>
        <td><%= link_to 'Show', kata %></td>
        <td><%= link_to 'Edit', edit_kata_path(kata) %></td>
        <td><%= link_to 'Destroy', kata, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kata', new_kata_path %>
