<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stance.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stance.description %>
</p>

<%= link_to 'Edit', edit_stance_path(@stance) %> |
<%= link_to 'Back', stances_path %>
