<h1>Listing entrances</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entrances.each do |entrance| %>
      <tr>
        <td><%= entrance.name %></td>
        <td><%= entrance.description %></td>
        <td><%= link_to 'Show', entrance %></td>
        <td><%= link_to 'Edit', edit_entrance_path(entrance) %></td>
        <td><%= link_to 'Destroy', entrance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entrance', new_entrance_path %>
