<header class="aiki_box navbar container" role="navigation">
  <div class="row">
    <div class="col-md-4 center">
      <%= image_tag 'ssj_mon_color_web.gif', class: "header_image", size: "50x50" %>
    </div>
    <div class="col-md-4 center">
      <h4>Aikido Center of San Antonio: Video Library</h4>
      <p>a Yurusu Aikido Dojo</p>
    </div>
    <div class="col-md-4">
      <%= image_tag 'Nishio_patch_dark.png', class: "header_image pull-right", size: "50x50" %>
    </div>
  </div>

  <ul class="ul_big nav nav-pills">
    <li><%= link_to "Dojo", "http://www.aikipeace.com/aikido/index.html" %></li>
    <li><%= link_to "Master Grid", master_grid_wazas_path %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
      <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        <li><%= link_to "New Video", new_video_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Wazas", wazas_path %></li>
        <li><%= link_to "Videos", videos_path %></li>
        <li><%= link_to "Formats", aiki_formats_path %></li>
        <li><%= link_to "Katas", katas_path %></li>
        <li><%= link_to "Ranks", ranks_path %></li>
        <li><%= link_to "Styles", styles_path %></li>
        <li><%= link_to "Senseis", senseis_path %></li>
        <li class="divider"></li>
        <li class="dropdown-submenu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Attributes</a>
          <ul class="dropdown-menu">
            <li><%= link_to "Stances", stances_path %></li>
            <li><%= link_to "Attacks", attacks_path %></li>
            <li><%= link_to "Attack Heights", attack_heights_path %></li>
            <li><%= link_to "Hand Applied To", hand_applied_tos_path %></li>
            <li><%= link_to "Maka Komi", maka_komis_path %></li>
            <li><%= link_to "Techniques", techniques_path %></li>
            <li><%= link_to "Directions", directions_path %></li>
            <li><%= link_to "Kaiten(Rotation)", kaitens_path %></li>
            <li><%= link_to "Sword In/Out", swords_path %></li>
            <li><%= link_to "Levels", levels_path %></li>
          </ul>
        </li>

      </ul>
    </li>
  </ul>
</header>
